@import "../../glance/list";

.contentArea {
  .contentArea;
  height: calc(100% - @breadCrumbHeight);
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

.analysisTab {
  height: 100%;
  padding: 0 10px 5px 10px;

  .analysisTabContent {
    //border: 1px red solid;

    .button {
      margin: 5px;
    }
  }
}

.datePicker {
  height: 30px;
  width: 150px;
}

.spin {
  height: 100%;
  width: 100%;
}

.performance{

  table {
    border: none;
    width: 100%;
    collapse: seperate;

  }

  th {
    border: 1px #ccc solid;
  }

  th:first-child{
    padding-left: 10px;
  }

  th:nth-child(2){
    padding-left: 10px;
  }

  th:nth-child(3){
    text-align: right;
    padding-right: 10px;
  }

  th:last-child{
    text-align: right;
    padding-right: 10px;
  }

  td {
    border: 1px #ccc solid;
  }

  td:first-child{
    padding-left: 10px;
  }

  td:nth-child(2){
    padding-left: 10px;
  }

  td:nth-last-child(2){
    text-align: right;
    padding-right: 10px;
  }

  td:last-child{
    text-align: right;
    padding-right: 10px;
  }

  tr:nth-child(odd){
    background-color: #eee;
  }

  tr:nth-child(even){
    background-color: #fff;
  }

  tr:first-child {
    height: 30px;
  }

  .chart {
    width: calc(100% - 5px);
    height: 200px;
    margin-left: 5px;
  }
}

